<form style="text-align: center; margin-top: 45px;">
    <div class="container">
        <h1>Sign Up</h1>
        <p>Please fill in this form to create an account.</p>


        <label for="email"><b>Email*</b></label>
        <input type="text" placeholder="Enter Email" name="email" style="padding: 3px; margin-left: 48px;"><br>

        <label for="psw"><b>Password*</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required
            style="padding: 3px; margin-left:20px; margin-top:5px;"><br>
        <button type="submit" class="btn btn-primary" style="margin-top: 5px;">Sign Up</button>
    </div>
</form>