<h2>Contact Us</h2>


<div class="contactForm">

    <h2>Send Message</h2>

    <div class="inputbox">
        <span>Name*</span>
        <input type="text" name="" required="required">

    </div>
    <div class="inputbox">
        <span>Mobile number*</span>
        <input type="text" name="" required="required">

    </div>
    <div class="inputbox">
        <textarea required="required"></textarea>
        <span>Type Your Message...</span>
    </div>

    <div class="inputbox">
        <input type="submit" name="" value="Send">
    </div>


</div>