<div class="container content">
    <div class="row " style="margin-bottom: 30px;">
        <div class="col-md-9 " style="margin-bottom: 30px;">
            <div class="headline">
                <h2>Appointment Form</h2>
            </div>

            <!--=== APPOINTMENT FORM ===-->
            <form class="sky-form sky-changes-3">
                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Name</label>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="name" id="name" required="">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">E-mail</label>
                            <label class="input">
                                <i class="icon-append fa fa-envelope-o"></i>
                                <input type="email" name="email" id="email" required="">
                            </label>
                        </section>
                    </div>

                    <section>
                        <label class="label">Purpose Of Appointment</label>
                        <label class="input">
                            <i class="icon-append fa fa-tag"></i>
                            <input type="text" name="subject" required="">
                        </label>
                    </section>

                    <section>
                        <label class="label">Mobile Number</label>
                        <label class="input">
                            <i class="icon-append fa fa-phone"></i>
                            <input type="text" name="number" id="number" required="">
                        </label>
                    </section>

                    <section>
                        <label class="select">
                            <select name="Department" required="">
                                <option value="" selected="" disabled="">Select Department</option>
                                <option>Cardiology</option>
                                <option>Dermatology and Cosmetology</option>
                                <option>General Surgery</option>
                                <option>Health Checkup Packages</option>
                                <option>Neurology</option>
                            </select>
                            <i></i>
                        </label>
                    </section>
                    <div class="row">
                        <section class="col col-6">
                            <label class="date">Select Date</label>
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="date" required="">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="time">Select Time</label>
                            <label class="select">
                                <select name="Time" required="">
                                    <option value="" selected="" disabled="">Select Time</option>
                                    <option>8 AM - 10 AM</option>
                                    <option>10 AM - 12 PM</option>
                                    <option>12 PM - 2 PM</option>
                                    <option>2 PM - 4 PM</option>
                                    <option>4 PM - 6 PM</option>
                                    <option>6 PM - 8 PM</option>
                                    <option>8 PM - 10 PM</option>
                                </select>
                                <i></i>
                            </label>
                        </section>
                    </div>

                </fieldset>

                <footer>
                    <button type="submit" class="btn-u">Submit</button>
                </footer>


            </form>
        </div>
        <!--/col-md-9-->

        <!-- side part of appointment -->
        <div class="col-md-3" style="margin-top: 56px;">
            <!-- Address -->
            <div class="headline">
                <h2>Appointment Notes</h2>
            </div>
            <p> You Only Can Book Your Appointment Between <strong>8 AM to 10 PM.</strong> </p>
            <p> In Other Times You Can Call Our Ambulance Which Is Available 24/7. </p>

            <!-- Business Hours -->
            <div class="headline" style="margin-top: 20px;">
                <h2>Business Hours</h2>
            </div>
            <ul class="list-unstyled " style="margin-bottom: 30px;">
                <li><strong>Monday-Saturday:</strong> 24/7 Available.</li>
                <li><strong>Sunday:</strong> 4 AM to 11 PM.</li>
            </ul>

            <!-- Why choose us? -->
            <div class="headline">
                <h2>Why Choose Us?</h2>
            </div>
            <p>All healthcare facilities can be accessed here under one roof, making UNITY Hospital a one point
                contact for all your healthcare needs.</p>
            <ul class="list-unstyled">
                <li><i class="fa fa-check color-green"></i> 24/7 Ambulance Support.</li>
                <li><i class="fa fa-check color-green"></i> Eminent and Experienced Doctors.</li>
                <li><i class="fa fa-check color-green"></i> Multiple Options For Treatment.</li>
            </ul>
        </div>
        <!--/col-md-3-->
    </div>
    <!--/row-->
</div>
<!--/container-->


<!--=== Footer ===-->
<div class="footer-v1">
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- About -->
                <div class="col-md-3 " style="margin-bottom: 40px;">
                    <a href="index.html"><img id="logo-footer" class="footer-logo" src="assets/img/logo/unity_white.jpg"
                            alt=""></a>
                    <p>At Unity Hospital, we are convinced that 'quality' and 'lowest cost' are not mutually
                        exclusive when it comes to healthcare delivery.</p>
                    <p>Our mission is to deliver high quality, affordable healthcare services to the broader
                        population in India.</p>
                </div>
                <!--/col-md-3-->
                <!-- End About -->


                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    2020 &copy; All Rights Reserved.
                                    <a href="privacy.html">Privacy Policy</a> | <a href="terms.html">Terms of
                                        Service</a>
                                </p>
                            </div>